
<nav   class="header">
  <div class="menu">
      <a [routerLink]="['/home']" routerLinkActive="active">
        Accueil
      </a>
      <a [routerLink]="['/dashbaord']" routerLinkActive="active">
        Dashbaord
      </a>
      <a [routerLink]="['/profile']" routerLinkActive="active">
        Profile
      </a>
  </div> 
  <div class="button-link">
      
        <button *ngIf="!authFirebaseService.isUserLoggedIn()" class="button-login " (click)="loginRegister?login():false">
        {{loginRegister ?'LOGIN':false }} 
       </button>   
      
        <button *ngIf="authFirebaseService.isUserLoggedIn()" class="button-login " (click)="logout()">
        LOGOUT
      </button>   
       
        <button *ngIf="!authFirebaseService.isUserLoggedIn()" class="button-login "(click)="loginRegister?register():false">
        {{loginRegister?'REGISTER':false }} 
       </button>   
      
  </div>
      
</nav>