<section class="login-section">
    
  <div class="login-container">
    <!-- <form #labeldisplay="ngForm" >
      <div class="input-titre-group">
          <input class="input-titre" required type="text" name="titre"  [(ngModel)]="titre" placeholder="Entrer nouveau titre" >
          <button class="button-change-titre"  [disabled]="labeldisplay.invalid" type="submit"  > Changer le titre</button> 
      </div>
    </form> 
     -->
     
     <p class="message-info">{{message}}</p>
      
      <form [formGroup]="checkoutForm" *ngIf="affichFormLogin"   (ngSubmit) = "loginUser(checkoutForm.value)" >
         
        <div class="myForm-group">
            <h3 style=" text-align: center"class="display-titre">{{titre}}</h3>
            <input class="input-login"  required type="text" placeholder ="Email" formControlName ="login" > 
            <input class="input-password" required type="password"  placeholder ="Password" formControlName ="password">
            <button class="button-seconnecter"   [disabled]=checkoutForm.invalid type="submit">LOG IN</button>
        </div>
     </form> 
     <form [formGroup]="checkoutForm" *ngIf="!affichFormLogin" (ngSubmit) = "registerUser(checkoutForm.value)" >
        <div class="myForm-group">
            <h3 style=" text-align: center"class="display-titre">{{titre}}</h3>
            <input class="input-login"  required type="text" placeholder ="Email" formControlName ="login" > 
            <input class="input-password" required type="password"  placeholder ="Password" formControlName ="password">
           
            <button class="button-seconnecter"  [disabled]=checkoutForm.invalid type="submit">REGISTER</button>
            
        </div>
     </form>  
  </div> 
</section>